.cartItemsWrapper {
  position: relative;
  top: 9rem;
}
.cartItemsEmptyWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8rem;
  .cartItemsEmptyTitle {
    text-align: center;
  }
  .cartItemsEmptyButton {
    position: relative;
    background-color: rgb(252, 163, 17);
    color: white;
    font-size: 1rem;
    border: 1px solid black;
  }
  .cartItemsEmptyButton:hover {
    background-color: rgb(230, 143, 3);
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in;
  }
}
.cartFormWrapper {
  position: absolute;
  left: 70%;
  width: 20%;
  top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #cartFormTitle {
    width: 100%;
    text-align: center;
    background-color: rgb(252, 163, 17);
    border-radius: 200px;
    font-size: 1.5rem;
    color: white;
  }
  #cartFormName {
    width: 100%;
    border-radius: 200px;
    border: 2px solid rgb(20, 33, 61);
    font-size: 1rem;
    text-align: center;
  }
  #cartFormTel {
    width: 100%;
    border-radius: 200px;
    border: 2px solid rgb(20, 33, 61);
    font-size: 1rem;
    text-align: center;
  }
  #cartFormMail {
    width: 100%;
    border: 2px solid rgb(20, 33, 61);
    border-radius: 200px;
    font-size: 1rem;
    text-align: center;
  }
  .clearButton {
    position: relative;
    top: 1rem;
    background-color: rgb(253, 44, 44);
    color: white;
    font-size: 0.9rem;
    border: 1px solid black;
    width: 40%;
    transition: 0.3s ease-out;
    margin-right: 5%;
    height: 2.5rem;
  }
  .clearButton:hover {
    background-color: rgb(182, 7, 7);
    cursor: pointer;
    position: relative;
    transition: 0.6s ease-in;
  }
  #cartFormSubmit {
    position: relative;
    top: 1rem;
    margin-bottom: 2%;
    background-color: rgb(252, 163, 17);
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    width: 50%;
    transition: 0.3s ease-out;
    height: 2.5rem;
    transition: 0.3s ease-out;
  }
  #cartFormSubmit:hover {
    background-color: rgb(230, 143, 3);
    cursor: pointer;
    position: relative;
    transition: 0.6s ease-in;
  }
  .cartFormTotalPrice {
    position: relative;
    top: 2rem;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(230, 143, 3);
    font-size: 1.5rem;
  }
}
.alertLoader {
  position: inherit;
  left: 50%;
  top: 50%;
}
