*{
    font-family: 'Scheherazade New', serif;
}

.itemContainer{
    background-color:rgb(171, 241, 191) ;
    width: 20%;
    height: 18rem;
    .itemCard{
        .itemImg{
        width: auto;
        height: 100%;
        }
        .itemName{
        text-align: center;
        }
        .itemPrice{
            text-align: center;
        }
    }
}