*{
    font-family: 'Scheherazade New', serif;
}
#counterContainer{
    height: 8rem;
    #counterAdd{
        background-color: rgb(129,234,159);
        color: white;
        font-size: 1rem;
        border: 1px solid black;
        position: relative;
        top: 1rem;
        left: 27%;
    }
    #counterAdd:hover{
        background-color:rgb(93, 192, 121);
        cursor: pointer;
        position: relative;
    }
#buttonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
.counterButtons{
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(129,234,159) ;
    color: rgb(129,234,159);
    font-size: 1.4rem;
    border-radius: 10px;
    width: 10%;
}
#counterItems{
    font-size: 1.4rem;
    width: 2rem;
    text-align: center;
}
}
}