.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  align-items: center;
  border-bottom: 1px solid rgb(20, 33, 61);
  z-index: 2;
  #navBarLogoContainer {
    display: flex;
    width: 12%;
    height: 100%;
    padding: 1%;
    border-radius: 15rem;
    justify-content: center;
    position: relative;
    left: 4%;
    margin-bottom: 0.3rem;
    #navBarLogo {
      height: 90%;
      width: 80%;
    }
  }
  .navBarUl {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    text-align: center;
    left: -3.6rem;
    padding: 0%;
    .navBarLi {
      list-style: none;
      width: 50%;
      color: rgb(20, 33, 61);
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      position: relative;
      left: -20rem;
      padding: 0%;
      .navBarLiAnchor {
        text-decoration: none;
        color: rgb(20, 33, 61);
      }
      #navBarLiDropdownContainer {
        display: none;
        z-index: 3;
        position: absolute;
        height: 2rem;
        .navBarLiDropdown {
          display: none;
          position: relative;
          z-index: 3;
          height: 3rem;
          width: 100%;
          background-color: rgb(253, 192, 93);
          color: rgb(255, 255, 255);
          border-top: 2px solid rgb(20, 33, 61);
          border-left: 2px solid rgb(20, 33, 61);
          border-right: 2px solid rgb(20, 33, 61);
          .navBarLiDropdownAnchor {
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
          .navBarLiDropdownActive {
            color: rgb(20, 33, 61);
          }
        }
        .navBarLiDropdown:last-child {
          border-bottom: 2px solid rgb(20, 33, 61);
        }
        .navBarLiDropdown:hover {
          background-color: rgb(230, 143, 3);
          color: rgb(255, 255, 255);
          transition: 0.3s ease-in;
          cursor: pointer;
        }
      }
    }
    .navBarLi:hover {
      #navBarLiDropdownContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .navBarLiDropdown {
          display: block;
        }
      }
    }
  }
}
