
.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 1rem;
    background-color: rgb(129,234,159);
    align-items: center;
    #navBarLogoContainer{
        display: flex;
        width: 15%;
        height: 100%;
        padding: 1%;
        background-color: rgb(79,31,70);
        border-radius: 15rem;
        justify-content: center;
        position: relative;
        left: 2%;
    #navBarLogo{
        height: 100%;
        width: auto;
    }
}
    .navBarUl{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        text-align: center;
        padding: 0%;
        left: -3rem;
        .navBarLi{
            list-style: none;
            width:20%;
            color: rgb(79,31,70);
            font-size: 1.4rem;
            font-weight: 500;
        }
    }    
}
